<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Diagon Alley</display-name>
  <welcome-file-list>
    <welcome-file>diagonalley_HomePage.html</welcome-file>
    <welcome-file>diagonalley_HomePage.htm</welcome-file>
    <welcome-file>diagonalley_HomePage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletClass1</servlet-name>
    <servlet-class>com.atech.partyplanner.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClass1</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
</web-app>